<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
<div class="container">
    <header class="row">
        <div th:replace="fragments/header :: header"></div>
    </header>

    <main class="jumbotron">
        <div class="row">
            <div th:replace="fragments/filter :: filter"></div>
        </div>

        <div class="row">
            <div class="col-12 row m-0">
                <div class="col-3" >ID</div>
                <div class="col-3" >User ID</div>
                <div class="col-3" >Status</div>
                <div class="col-3" >Size</div>
            </div>
            <div class="col-12" th:each="order : ${orders}">
                <a th:href="@{/order/{id}(id=${order.id})}">
                    <div th:replace="fragments/order :: compact"></div>
                </a>
            </div>
        </div>
    </main>

</div>
</body>
</html>