<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
<div class="container">

    <div class="col-12" th:fragment="change">
        <form class="col-12" method="post" th:action="@{/order/{id}(id=*{id})}" th:object="${order}" >
            <div class="col-12">
                To:
                <div class="pl-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Id</span>
                        </div>
                        <input type="text" class="form-control" disabled th:value="*{user.id}" >
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name</span>
                        </div>
                        <input type="text" class="form-control" disabled th:value="*{user.username}" >
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Address</span>
                        </div>
                        <input type="text" class="form-control" disabled th:value="*{user.address}" >
                    </div>
                </div>
            </div>
            <div>
                id
                <div class="pl-3" th:text="*{id}"></div>
            </div>
            <div class="col-12">
                Status:
                <div class="pl-3">
                    <select th:field="*{status}" >
                        <option value="Pending">Pending</option>
                        <option value="Confirmed">Confirmed</option>
                        <option value="Packed">Packed</option>
                        <option value="Sent">Sent</option>
                        <option value="Received">Received</option>
                    </select>
                    <button type="submit">Change</button>
                </div>
            </div>
            <div class="col-12">
                Orderlines
                <div class="pl-3">
                    <div th:each="line : ${order.lines}" class="card col-12 my-2">
                        <div class="col-10" th:with="product=${line.product}">
                            <div th:replace="fragments/product :: basic" ></div>
                        </div>
                        <div class="col-2">
                            <!--                    amount-->
                            <h3 th:text="${'X '+line.amount}"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

<!--    compact-->
    <div class="col-12 row m-0" th:fragment="compact" th:object="${order}">
        <div class="col-3" th:text="*{id}"></div>
        <div class="col-3" th:text="*{user.id}"></div>
        <div class="col-3" th:text="*{status}"></div>
        <div class="col-3" th:text="*{lines.size()}"></div>
    </div>

    <div class="col-12" th:fragment="large" th:object="${order}">
        <div class="row">
            <!--            userinfo-->
            <div class="input-group">
                <!--                name-->
                <div class="input-group-prepend">
                    <span class="input-group-text">TO</span>
                </div>
                <input disabled type="text" class="form-control" th:placeholder="${order.user.username}">

            </div>
            <div class="input-group">
                <!--                address-->
                <div class="input-group-prepend">
                    <span class="input-group-text">AT</span>
                </div>
                <input disabled type="text" class="form-control" th:placeholder="${order.user.address}">

            </div>
        </div>
        <!--        order status-->
        <div class="row">
            <p th:if="${!isAdmin}" th:text="${'Status: '+order.status}"></p>
            <form th:if="${isAdmin}" method="post" th:action="@{/order/{id}(id=${order.id})}" th:object="${order}">
                <p>Status:
                    <select th:field="*{status}" th:default="*{status}" >
                        <option value="Pending">Pending</option>
                        <option value="Confirmed">Confirmed</option>
                        <option value="Packed">Packed</option>
                        <option value="Sent">Sent</option>
                        <option value="Recieved">Recieved</option>
                    </select>
                    <button type="submit">Change</button>
                </p>
            </form>
        </div>
        <div class="row">
            <!--            products-->
            <div th:each="line : ${order.lines}" class="card col-12 my-2 row">
                <div class="col-10 row m-0" th:with="product=${line.product}" >
                    <!--                        image-->
                    <div class="col-4">
                        <a th:href="@{/product/{id}(id=${product.id})}">
                            <img th:src="${product.image}" th:alt="${product.title}" class="img img-fluid">
                        </a>
                    </div>
                    <!--                        name, price, category-->
                    <div class="col-5">
                        <a th:href="@{/product/{id}(id=${product.id})}">
                            <h3 th:text="${product.title}"></h3>
                        </a>
                        <h4 th:text="${line.price}"></h4>
                    </div>
                    <div class="col-3">
                        <h5 th:text="${product.tags}"></h5>
                    </div>
                </div>
                <div class="col-2">
                    <!--                    amount-->
                    <h3 th:text="${'X '+line.amount}"></h3>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>